<!DOCTYPE html>
<html>

<head>
    <title>Chat App</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <br>
    <h1 align="center">Chat App</h1>
    <br><br>
    <div align="center"><input type="text" id="selfid" value="Your ID : bLsgM8jDZ1mDljEQAAAB"></div>
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-3" id="userbox" align="center">
                <label for="room">
                    <br><h2>Connected Users : </h2>
                </label><br><br>
                <select name="room" id="userslist" class="btn btn-light">
                    <option value="public">Public</option>
                    <option value="public">bLsgM8jDZ1mDljEQAAAB</option>
                    <option value="public">bLsgM8jDZ1mDljEQAAAB</option>
                    <option value="public">bLsgM8jDZ1mDljEQAAAB</option>
                    <option value="public">bLsgM8jDZ1mDljEQAAAB</option>
                </select>
            </div>

            <h5 id="messagebox" class="col-sm-3">
                <div class="message right">You connected with id : bLsgM8jDZ1mDljEQAAAB</div>
                <div class="message right">You connected with id : bLsgM8jDZ1mDljEQAAAB</div>
                <div class="message left">You connected with id : bLsgM8jDZ1mDljEQAAAB</div>
                <div class="message left">You connected with id : bLsgM8jDZ1mDljEQAAAB</div>
                <div class="message right">You connected with id : bLsgM8jDZ1mDljEQAAAB</div>
            </h5>
        </div>
        
       </div>



    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
        integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../public/javascripts/index.js">
    </script>
</body>

</html>